<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.springboot.mapper.GoodsMapper">

    <update id="optimismSpikeGoods">
        update goods set num = num - 1
        where id = #{id} and num = #{num}
    </update>

    <update id="pessimisticSpikeGoods">
        update goods set num = num - 1
        where id = #{id}
    </update>

    <select id="selectByName" resultType="cn.com.springboot.entity.GoodsDo">
        select *
        from goods
        where name = #{name}
    </select>

    <select id="lock" resultType="cn.com.springboot.entity.GoodsDo">
        select *
        from goods
        where id = #{id} for update
    </select>
</mapper>