<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.springboot.pagehelper.PageHelperMapper">

    <select id="getListFrom" resultType="cn.com.springboot.pagehelper.PageHelperDo">
        select id,name,age
        from page_helper
    </select>

    <select id="selectByPageNumSize" resultType="cn.com.springboot.pagehelper.PageHelperDo">
        select id,name,age
        from page_helper
    </select>


</mapper>