<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.springboot.generator.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="cn.com.springboot.generator.entity.Activity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sports" jdbcType="VARCHAR" property="sports"/>
        <result column="student_organization" jdbcType="VARCHAR" property="studentOrganization"/>
        <result column="course" jdbcType="VARCHAR" property="course"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sports, student_organization, course
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from activity
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.com.springboot.generator.entity.Activity">
    insert into activity (id, sports, student_organization, 
      course)
    values (#{id,jdbcType=INTEGER}, #{sports,jdbcType=VARCHAR}, #{studentOrganization,jdbcType=VARCHAR}, 
      #{course,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.com.springboot.generator.entity.Activity">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sports != null">
                sports,
            </if>
            <if test="studentOrganization != null">
                student_organization,
            </if>
            <if test="course != null">
                course,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sports != null">
                #{sports,jdbcType=VARCHAR},
            </if>
            <if test="studentOrganization != null">
                #{studentOrganization,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                #{course,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.com.springboot.generator.entity.Activity">
        update activity
        <set>
            <if test="sports != null">
                sports = #{sports,jdbcType=VARCHAR},
            </if>
            <if test="studentOrganization != null">
                student_organization = #{studentOrganization,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                course = #{course,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.com.springboot.generator.entity.Activity">
    update activity
    set sports = #{sports,jdbcType=VARCHAR},
      student_organization = #{studentOrganization,jdbcType=VARCHAR},
      course = #{course,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <resultMap id="BaseResultMap" type="cn.com.springboot.generator.entity.Activity">
        <result column="sports" jdbcType="VARCHAR" property="sports"/>
        <result column="student_organization" jdbcType="VARCHAR" property="studentOrganization"/>
        <result column="course" jdbcType="VARCHAR" property="course"/>
    </resultMap>
    <insert id="insert" parameterType="cn.com.springboot.generator.entity.Activity">
    insert into activity (sports, student_organization, course
      )
    values (#{sports,jdbcType=VARCHAR}, #{studentOrganization,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.com.springboot.generator.entity.Activity">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sports != null">
                sports,
            </if>
            <if test="studentOrganization != null">
                student_organization,
            </if>
            <if test="course != null">
                course,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sports != null">
                #{sports,jdbcType=VARCHAR},
            </if>
            <if test="studentOrganization != null">
                #{studentOrganization,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                #{course,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <resultMap id="BaseResultMap" type="cn.com.springboot.generator.entity.Activity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sports" jdbcType="VARCHAR" property="sports"/>
        <result column="student_organization" jdbcType="VARCHAR" property="studentOrganization"/>
        <result column="course" jdbcType="VARCHAR" property="course"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sports, student_organization, course
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from activity
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.com.springboot.generator.entity.Activity">
    insert into activity (id, sports, student_organization, 
      course)
    values (#{id,jdbcType=INTEGER}, #{sports,jdbcType=VARCHAR}, #{studentOrganization,jdbcType=VARCHAR}, 
      #{course,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.com.springboot.generator.entity.Activity">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sports != null">
                sports,
            </if>
            <if test="studentOrganization != null">
                student_organization,
            </if>
            <if test="course != null">
                course,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sports != null">
                #{sports,jdbcType=VARCHAR},
            </if>
            <if test="studentOrganization != null">
                #{studentOrganization,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                #{course,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.com.springboot.generator.entity.Activity">
        update activity
        <set>
            <if test="sports != null">
                sports = #{sports,jdbcType=VARCHAR},
            </if>
            <if test="studentOrganization != null">
                student_organization = #{studentOrganization,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                course = #{course,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.com.springboot.generator.entity.Activity">
    update activity
    set sports = #{sports,jdbcType=VARCHAR},
      student_organization = #{studentOrganization,jdbcType=VARCHAR},
      course = #{course,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <resultMap id="BaseResultMap" type="cn.com.springboot.generator.entity.Activity">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="sports" jdbcType="VARCHAR" property="sports"/>
        <result column="student_organization" jdbcType="VARCHAR" property="studentOrganization"/>
        <result column="course" jdbcType="VARCHAR" property="course"/>
    </resultMap>
    <insert id="insert" parameterType="cn.com.springboot.generator.entity.Activity">
    insert into activity (id, sports, student_organization, 
      course)
    values (#{id,jdbcType=INTEGER}, #{sports,jdbcType=VARCHAR}, #{studentOrganization,jdbcType=VARCHAR}, 
      #{course,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.com.springboot.generator.entity.Activity">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sports != null">
                sports,
            </if>
            <if test="studentOrganization != null">
                student_organization,
            </if>
            <if test="course != null">
                course,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sports != null">
                #{sports,jdbcType=VARCHAR},
            </if>
            <if test="studentOrganization != null">
                #{studentOrganization,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                #{course,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>